<div>
 <%= flash[:notice] %>
</div>

<h1>Editing Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>An error has occurred
<ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<%= form_with model: @book do |f| %>
 <h6>Title</h6>
 <%= f.text_field :title %>

 <h6>Body</h6>
 <%= f.text_area :body %>

 <%= f.submit 'Update Book' %>
 <%= link_to "Show",book_path %>
 <%= link_to "Back",books_path %>

 <% end %>